
.map {
  height: 80vh;
}

.custom-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height:15px;
  width: 15px;
  border: 1px solid rgba(8, 97, 5, 0.1);
  background-color:rgba(8, 97, 5, 0.219); 
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  animation: pulse 1.5s infinite;
}

.custom-icon > div {
  background-color: rgb(68, 138, 68);
  height:6px;
  width:6px;
  border-radius: 50%;
}

.pp-style > div {
  display: flex;
  min-width: 150px;
}

.square {
  height:30px;
  width:30px;
  background-color: green;
  border-radius: 50%;
}

.font18 { font-size: 18px;}
.font24 { font-size: 24px;}
.bold { font-weight: bold;}

@keyframes pulse {
            0% { transform: scale(1); }
            50% { transform: scale(1.4); }
            100% { transform: scale(1); }
         }